<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="base :: layout(~{::section})">

<section>

<div class="about-section">

    <div class="about-box text-center">

       
        <img th:src="@{/images/pankaj.jpg}" class="pankaj-img">

        <h2 class="mt-3">Pankaj </h2>

        <h5>Java Full Stack Developer</h5>

        <p class="mt-3">
            I am a passionate developer skilled in Java, Spring Boot, MySQL and Frontend technologies.
            I love building modern web applications and solving real-world problems.
        </p>

     

    

	
	            <h6>🎓 Education</h6>
	            <p>MCA (Master of Computer Applications)</p>
				<p>BCA (Bachelor of Computer Applications)</p>
	        

	       
	       
	            <h6>📍Address </h6>
	            <p>   Village:Medara,Meja,Prayagraj  </p>
				<p>District: Prayagraj</p>
				<p>State: Uttar Pradesh</p>
				<p>Country: India</p>
				<h6>Contact Me</h6>
				<p> Phone:9793202671</p>
				<P> Email:pankajbhai9793@gmail.com</P>
	        
			
			<div class="mt-4">

						       
						       
								   
								   <a href="https://instagram.com/a_b_c_d_e_23568" target="_blank" 
								      class="btn m-2" style="background-color:#E1306C; color:white;">

					
									   <i class="fa-brands fa-instagram"></i>
								   </a>



								   <a href="/" class="btn btn-warning mt-1">Back Home</a>
						    </div>

	      
	       


			</div>
	
</div>

</section>
</html>

